@import '_mixins';

%widthHeight100 {
  width: 100%;
  height: 100%;
}

%flexResponsive {
  @include flexbox();
  flex-direction: column;
  overflow: hidden;

  @include desktop {
    flex-direction: row;
  }
}

%containerLeftRight {
  width: 100vw;
  height: 100vh;
  @include flexbox();

  @include desktop {
    flex-direction: row;
    width: 50%;
    height: 100vh !important;
  }

  @include tablet(767px) {
    height: 50vh;
  }
}

%aboutContainer {
  height: 100%;
  text-align: right;
  padding: 1rem;
  @include boxSizing(border-box);
}
