@import '_layout';
@import '_variables';
@import '_mixins';

html,
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-weight: bold;

  .title {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.7em;
  }

  .container {
    height: 100vh;

    .content {
      @extend %flexResponsive;
      > .left,
      > .right {
        @extend %containerLeftRight;
      }

      > .left {
        background: $red;
        order: 2;

        @media (min-width: 1023px) {
          order: 1;
        }

        .b-1 {
          height: 100%;
          width: 15%;
          @include flexbox();
          justify-content: center;
          align-items: flex-end;

          .about-link-container {
            padding-bottom: 4.5rem;

            .title {
              @include rotate(90deg);
              width: 100%;
            }
          }
        }

        .b-2 {
          @include flexbox();
          flex-direction: column;
          width: 85%;

          .project-link-container {
            margin: 1.5rem 0;
          }

          .about-container {
            margin: auto 0 auto auto;
            color: $primary-text-color;
            background: $blue url('../images/avatar.png') no-repeat center
              bottom;
            background-size: contain;

            @extend %aboutContainer;

            p {
              @include pTag();
            }
          }
        }
      }

      .right {
        background: $yellow;
        order: 1;

        @media (min-width: 1023px) {
          order: 2;
        }
      }
    }
  }
}
