@import '_layout';
@import '_variables';
@import '_mixins';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body {
  font-family: $primary-font;
  font-weight: bold;

  .title {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.7em;
  }

  .container {
    height: 100vh;

    .content {
      @extend %flexResponsive;
      .left,
      .right {
        @extend %containerLeftRight;
      }

      .left {
        background: color(red);
        order: 2;

        @include desktop {
          order: 1;
        }

        .b-1 {
          height: 100%;
          width: 15%;
          @include flexbox();
          justify-content: center;
          align-items: flex-end;

          .about-text-container {
            padding-bottom: 4.5rem;

            .title {
              @include rotate(90deg);
              width: 100%;
            }
          }
        }

        .b-2 {
          @include flexbox();
          flex-direction: column;
          width: 85%;

          .project-text-container {
            margin: 1.5rem 0;
          }

          .about-container {
            margin: auto 0 auto auto;
            color: $primary-text-color;
            background: color(blue) url('../images/avatar.png') no-repeat center
              bottom;
            background-size: contain;

            @extend %aboutContainer;

            p {
              @include pTag();
            }
          }
        }
      }

      .right {
        background: color(yellow);
        order: 1;
        flex-direction: column;
        justify-content: space-between;

        @include desktop {
          order: 2;
        }

        .b-1 {
        }

        .b-2 {
          @include flexbox();
          flex-direction: column;
          text-align: center;
          color: color(yellow);

          .project-container {
            background: color(navy);
          }
        }
      }
    }
  }
}
